First step: Find the basic data - 
- input
    - Win record
    - Loss record
- output
    - Result of game

import libraries:

In [2]:
import pybaseball as pyball
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [12]:
bbref_current_teams = ["ARI","ATL","BAL","BOS","CHC","CHW","CIN","CLE","COL",
                      "DET","HOU","KCR","LAA","LAD","MIA","MIL","MIN","NYM",
                      "NYY","OAK","PHI","PIT","SDP","SEA","SFG","STL","TBR",
                       "TEX","TOR","WSN"]

In [38]:
data = pyball.schedule_and_record(2019, "HOU").columns
data = pd.DataFrame(columns=data)
data

Empty DataFrame
Columns: [Date, Tm, Home_Away, Opp, W/L, R, RA, Inn, W-L, Rank, GB, Win, Loss, Save, Time, D/N, Attendance, cLI, Streak, Orig. Scheduled]
Index: []

In [ ]:
for team in bbref_current_teams:
    for year in range(2018,2019):
        data = pd.concat([data, pyball.schedule_and_record(year, team)])

In [26]:
data

Empty DataFrame
Columns: []
Index: []